<section class="form-wrapper auth-wrapper">
  <h1>Create Account</h1>
  <p>All fields are required. Already registered? <a href="/account/login">Log in instead</a>.</p>

  <% const errorList = errors && typeof errors.array === "function" ? errors.array() : errors; %>
  <% if (errorList && errorList.length) { %>
    <div class="form-errors" role="alert">
      <p>Please fix the following:</p>
      <ul>
        <% errorList.forEach((error) => { %>
          <li><%= error.msg %></li>
        <% }) %>
      </ul>
    </div>
  <% } %>

  <form class="form-card needs-validation auth-form" action="/account/register" method="post">
    <label for="accountFirstName">First Name</label>
    <input
      type="text"
      id="accountFirstName"
      name="account_firstname"
      required
      minlength="2"
      autocomplete="given-name"
      value="<%= typeof account_firstname !== 'undefined' ? account_firstname : '' %>"
    >

    <label for="accountLastName">Last Name</label>
    <input
      type="text"
      id="accountLastName"
      name="account_lastname"
      required
      minlength="2"
      autocomplete="family-name"
      value="<%= typeof account_lastname !== 'undefined' ? account_lastname : '' %>"
    >

    <label for="accountEmail">Email Address</label>
    <input
      type="email"
      id="accountEmail"
      name="account_email"
      placeholder="name@example.com"
      required
      autocomplete="email"
      value="<%= typeof account_email !== 'undefined' ? account_email : '' %>"
    >

    <label for="accountPassword">Password</label>
    <div class="password-helper" id="registrationPasswordHelper">
      Passwords must be at least 12 characters and contain at least 1 number, 1 capital letter, and 1 special character.
    </div>
    <input
      type="password"
      id="accountPassword"
      name="account_password"
      required
      autocomplete="new-password"
      pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
      aria-describedby="registrationPasswordHelper"
    >

    <button type="submit">Register</button>
  </form>
</section>


