<section class="error-view" role="alert">
  <h1><%= title %></h1>
  <p class="error-code">Status Code: <strong><%= statusCode %></strong></p>
  <p class="error-message"><%= message %></p>
  <p>
    <a class="btn" href="/">Return to safety</a>
  </p>
</section>

